/*******************************************************************************
MAJOR DEVIATIONS

Most of the styles and layout copied from https://module-2-fp-example-website.vercel.app/

However, I added a :root color set and referred to all the colors by variable names

Another deviation is that I replaced the specific section descriptions like
testimonials__description, for example with a generic section__description that
applies to them all.

********************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* COLOR SET */

:root {
  /* Brand / UI colors */
  --color-bg: #f8f9fa;
  --color-surface: #fff;
  --color-pri: #6415ff;       /* Primary      */
  --color-sec: #9333ea;       /* Secondary    */
  --color-accent: #f59e0b;

  /* Text colors */
  --txt-dark: #1a202cff;    /* Default          */
  --txt-dark-20: #1a202c20; /* Dark 20% opacity */
  --txt-pri: #243e63ff;     /* Primary          */
  --txt-sec: #4b5563;       /* Secondary        */
  --txt-muted: #7c8ba1;     /* Muted            */
  --txt-light: #cbd5e0;     /* light            */
  --txt-inv: #fff;          /* Inverse          */

  /* Utility colors */
  --color-btn-hover: #5011cc;
  --color-success: #9ae6b4;
  --color-warning: #fbbf24;
  --color-error: #feb2b2;
  --color-border: #e5e7eb;
  --color-border-strong: #a0aec0;

  /* SECONDARY / ACCENT COLORS */
  --color-accent-teal-start: #38b2ac;
  --color-accent-teal-end: #81e6d9;

  --color-accent-indigo-start: #4c51bf;
  --color-accent-indigo-end: #667eea;

  --color-accent-red-dark: #e53e3e;
  --color-accent-red-start: #f56565;
  --color-accent-red-end: #feb2b2;  
}

html {scroll-behavior: smooth; } /* make automatic scrolling smooth instead of jumpy */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: var(--txt-pri);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

h1 {
    color: var(--txt-pri);
}

h2 {

}

h3 {

}

h4 {
    color: var(--color-pri);
    text-transform: uppercase;
}

p {
    line-height: 1.5;
} 

a {
    font-size:medium;
    font-weight: bold;
    color: var(--txt-pri);
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

img {
    width: 100%;
}

.row {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

}

.container {
    padding: 96px 0;
}

.purple {
    color: var(--color-pri);
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

.btn {
    border: none;
    padding: 10px 32px;
    border-radius: 100px;
    background-color: var(--color-pri);
    color: var(--color-surface);
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: var(--color-btn-hover);
}


/* NAVBAR ↓ */


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    padding-bottom: 4px;
    width: 40px;
}

.nav__logo--title {
    font-size: x-large;
    color: var(--txt-pri);
    font-weight: 900;
    margin-left: 12px;
    padding-bottom: 4px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 2vw;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: 300ms;
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: var(--color-pri);
  transition: all 300ms ease;
  opacity: 0;
}

.nav__link:hover:after {
  opacity: 1;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    margin-top: 2px;
    padding-top: 10px;
    color: var(--color-surface);
    background-color: var(--color-pri);
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
}

.btn__menu {
    background-color: transparent;
    display: none;
    border-width: medium;
    border-style: none;
    border-color: currentcolor;
    border-image: initial;
    transition: 300ms;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}



.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 378px;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    margin: 24px 16px;
    padding: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    border-radius: 8px;
    transition: all 300ms ease;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu--open .menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--pri {
    color: var(--color-border);
    padding: 12px 32px;
    background: var(--color-pri);
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/****************************

    SECTION

    The sections are generic containers that are repeated down the page from top to bottom.

*****************************/

.section__tag {
  font-size: medium;
  color: var(--color-pri);
  letter-spacing: 1.6px;
  font-weight: bold;
  text-transform: uppercase;

}

.section__description {
    /* This one is oriented on the left, so it has right padding */
    padding: 32px 64px 32px 0;
    width: 50%;
}

.section__description--other {
    /* This one is oriented on the right, so it has left padding */
    padding: 32px 0;
    padding-left: 64px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: var(--txt-pri);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;}

.section__para {
    font-size: large;
    font-weight: 500;
    color: var(--txt-muted);
    line-height: 1.625;
    max-width: 576px;
}

.text-center {
    text-align: center;
}

.section__img--wrapper {
    z-index: 1;
    position: relative; /* necessary for child with absolute pos */
}

.section__btn {
    padding: 12px 32px;
    margin-top: 32px;
}


/* 

HEADER / ABOUT US ↓

*/

header {
    position: relative;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__description--para {
    font-size: medium;
    margin: 24px 0;
}

.header__img--wrapper {
    display: flex;
    margin-top: 48px;
}

.header__img {
    width: 100%;
    max-width: 512px;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid var(--color-border);
    padding: 20px 192px 20px 32px;
    font-size: 16px;
    font-weight: 500;
    position: absolute; /* Necessary to cover the button */
    transition: border-color 300ms;
}

.header__email--input:hover {
    border-color: var(--color-border-strong);
}

.header__email--input:focus, .header__email--input:active {
    outline: none;
    border-color: var(--color-pri);
}

.header__email--btn {
    z-index: 1; /* necessary to cover the email input */
    margin: 8px;
    height: calc(100% - 16px);
    width: 160px;
    font-weight: 700;
    font-size: 16px;
}

.header__customers--title {
    margin: 48px 0 0;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-border-strong);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header__customers {
    margin: 16px 0 0;
    opacity: 0.5;
}

.header__img--wrapper {

}

.header__img {
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

/*#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.features {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
                     
.feature {
    /*width: calc(100 / 3);*/
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;  /* make sure the contents are centered */
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: 500px;
}

.feature__img {
    width: 24px;
}

.feature__text {
    margin: 8px 0 0 16px;
}

.feature__title {

}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: var(--txt-muted);
    line-height: 2;
    font-weight: 500;
}


/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__img--wrapper {
    width: 50%;
}

/* Replaced by section__description
.quality__description {
    max-width: 576px;
    margin-right: 64px;
} */

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative; /* needed for child absolute positioning */
    margin: 0 56px;
    display: flex;
}

.quality__img {
    z-index: 1;
}

.quality__grid {
    /* build the grid */
    width: 80px;  /* overall width */
    height: 80px; /* overall height */
    background-image: radial-gradient(var(--color-pri) 2px, transparent 2px); /* dot size/color */
    background-size: 8px 8px; /* space between */

    /* position the grid */
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    position:absolute;
    display: block;
    right: 0;
    bottom: 0;
    z-index: 0;

/*    animation: pulseGrid 20s infinite ease-in-out;*/
}

@keyframes pulseGrid {
  0% {
    background-size: 8px 8px;
  }
  50% {
    background-size: 20px 20px;
  }
  100% {
    background-size: 8px 8px;
  }
}

/* 

STEPS ↓

*/

h5 {
    font-weight: 600;
    font-size: 20px;
    color: var(--txt-pri); 
    line-height: 1;    
}

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    position: relative;
    display: flex;
    width: 50%;
}

.steps__img {
    position: relative;
    width: 100%;
    z-index: 1;
}

.steps__grid {
    /* build the grid */
    width: 8vw;  /* overall width, scalable */
    height: 4vw; /* overall height, scalable */
    background-image: radial-gradient(var(--color-border) 2px, transparent 2px); /* dot size/color */
    background-size: 8px 8px; /* space between */

    /* position the grid */
    transform: translateX(50%) translateY(90%);
    position: absolute;
    display: block;
    left: calc(50% - 8vw);  /* scaling position */
    bottom: 0;
    z-index: 0;
}

.steps__list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--txt-pri);
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px; 
}

.step__number {
    color: var(--txt-light); 
    width: 40px;        /**/
    font-size: 36px;
    font-weight: 600;
    line-height: 1;    
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;    
}

.step_title {
    font-weight: 600;
    font-size: 20px;
    color: var(--txt-pri);
    line-height: 1;    
}

.step__para {
    font-size: medium;
    color: var(--txt-muted);
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;    
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.values__list {
    display: flex;
    margin-top: 32px;
    margin-bottom: 16px;
}

.value {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.value__title {
    /* container for the img and name */
    display: flex;
    align-items: center;
}

.value__img--wrapper {
    background-color: var(--color-error);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: var(--color-success);
}

.value__img {
    width: 20px;
}

.value__name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.value__para {
    color: var(--txt-muted);
    margin-top: 16px;
    line-height: 1.625;
}

.values__img {
    width: 50%;
}

/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: var(--color-surface);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: var(--txt-dark);
    box-shadow: 0px 1px 5px var(--color-border);
}

.plan__stripe {
    color: var(--color-bg);
    background: linear-gradient(115deg, var(--color-accent-teal-start) 0%, var(--color-accent-teal-end) 100%); 
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan__name {
    font-size: larger;
    font-weight: bold;
    line-height: 1.625;
}

.plan__price {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.625;
    margin: 4px 0;
}

.plan__duration {
    color: var(--txt-muted);
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1.625;
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
    padding: 2rem;
}

.plan__target {
    font-size: larger;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: var(--text-tertiary);
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom {
    padding: 2rem;
}

.plan__button {
    color: var(--color-bg);
    background: linear-gradient(115deg, var(--color-accent-teal-start) 0%, var(--color-accent-teal-end) 100%); 
    border-radius: 0.25rem;
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: var(--color-surface);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.plan__button:hover {
  transform: translate(1px, -1px);
  box-shadow: 0px 20px 25px -5px var(--txt-dark-20);
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
    color: var(--color-bg);
    background: linear-gradient(115deg, var(--color-accent-red-start) 0%, var(--color-accent-red-end) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, var(--color-accent-indigo-start) 0%, var(--color-accent-indigo-end) 100%);
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
    color: var(--color-surface);
}

.plan:nth-child(2) .plan__button {
    color: var(--color-pri);
    background: var(--color-surface);
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid var(--color-accent-indigo-end);
    border-bottom: 2px solid var(--color-accent-indigo-end);
}

.plan:nth-child(2) .plan__stripe {
  visibility: hidden;
}

.plans__blob {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;    
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}

.testimonials__img {
    width: 50%;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 1rem;
}

.fa-star,
.fa-star-half-alt {
  color: var(--color-accent);
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
}

.testimonial__title {
    color: var(--txt-sec);
    line-height: 1.625;
    font-size: larger;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: var(--txt-sec);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    /*border-radius: 50%;*/
    border-radius: 50% 50% / 50% 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {

}

.testimonial__role {
    color: var(--txt-muted);
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
  display: flex;
  align-items: center;
}

.testimonial__button svg {
  width: 16px;
  height: 16px;
}

.testimonial__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: var(-rgb-border);
  border-radius: 50%;
  margin: 0 12px;
  transition: all 300ms ease;
}

.testimonial__button:hover {
  background-color: var(--color-border);
}

/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}

.start__container {
/*    position: relative;*/

    padding: 96px 0;
    width: 100%;
    background-color: var(--color-pri);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Blob basics, common to both blobs */
.start__blob {
    position: absolute;
    color: var(--color-btn-hover);
    opacity: 0.5;   
    height: 20rem;
    width: 20rem; 
}

/* blob specifics */
.start__blob--1 {
    bottom: 0px;
    left: 0px;
    transform: translate(-5rem, 8rem);
}

.start__blob--2 {
    top: 0px;
    right: 0px;
    transform: translate(5rem, -16rem);
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title, .start__buttons {
    width: 50%;
}

.start__title {
    color: var(--color-bg);
    font-size: xx-large;
    font-weight: 700;
    line-height: 1.5;
    z-index: 1;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

/* General button style */
.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-bg);
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
    margin-right: 32px;
    transition: all 300ms ease;
}

/* Button style 1 */
.start__button:nth-child(1) {
    background: var(--color-accent-red-start);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.start__button:hover:nth-child(1) {
    background-color: var(--color-accent-red-dark);
}

/* button style 2 */
.start__button:nth-child(2) {
    border: 1px solid var(--color-border-strong);
    transition: all 300ms ease;
}

.start__button:hover:nth-child(2) {
    background-color: var(--color-bg);
    color: var(--color-pri);
}

/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: var(--color-pri);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row {
    position: relative;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;    
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: var(--color-bg);
    line-height: 1.5;    
}

.footer__column--link {
    color: var(--color-surface);
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

/* Add an animating line under the column link */
.footer__column--link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background: var(--color-surface);
  transition: all 300ms ease;
  opacity: 0;
}

.footer__column--link:hover:after {
  opacity: 0.8;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: color-mix(in srgb, var(--color-bg) 10%, transparent ); 
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: var(--color-bg);
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: var(--txt-light);
    font-weight: 500;    
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    padding: 8px;
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;    
}

.footer__social--link:hover {
    background-color: var(--txt-light);
}

/* 

MOBILE RESPONSIVENESS ↓

*/


@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  header .row {
    flex-direction: column;
    align-items: center;
  }

  .header__description,
  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .header__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 30px;
  }

  .header__description--para {
    margin: 20px 0;
  }

  .header__customers {
    padding-right: 0px;
  }

  #features .section__title, #pricing .section__title {
    text-align: center;
}

  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }

  .features {
    max-width: 768px;
  }

  .feature {
    width: calc(50%);
  }

  .feature__title {
    line-height: 1;
  }

  .feature__row {
    padding: 32px 8px;
    margin: 0 16px;
  }

  .feature__para {
    max-width: none;
  }

  .section__para {
    font-size: 16px;
  }

  .section__title {
    font-size: 36px;
  }

  .value {
    margin-top: 2.5rem;
  }

  .values__list {
    max-width: 20rem;
    flex-direction: column;
  }

  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    margin-right: 0px;
  }

  #features .section__title,
  #pricing .section__title {
    font-size: 48px;
  }

  #testimonials .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #start .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .start__row {
    flex-direction: column;
  }

  .start__title {
    text-align: center;
    width: 100%;
    max-width: 512px;
  }

  .start__buttons {
    width: auto;
    margin-top: 24px;
  }

  .start__button {
    padding: 16px 32px;
  }

  footer {
    padding: 80px 32px;
  }
}

/*

@media (max-width: 768px)

*/

@media (max-width: 768px) {
  .container {
    padding: 80px 0;
  }

  .features {
    justify-content: center;
  }

  .feature {
    width: auto;
    max-width: 384px;
  }

  .section__para {
    font-size: 14px;
  }

  #steps .row,
  #testimonials .row {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }

  #testimonials .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section__description,
  .section__description--other {
    padding: 0;
    margin-top: 64px;
    text-align: center;
  }

  .section__description,
  .section__description--other,
  .quality__img--wrapper,
  .steps__img--wrapper,
  .values__img,
  .testimonials__img {
    width: 100%;
    max-width: 448px;
  }

  #steps .row,
  #testimonials .row {
    flex-direction: column;
  }

  .steps__list {
    margin-top: 48px;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }

  .step__description {
    margin-top: 12px;
    margin-left: 0;
  }

  .values__list {
    margin-left: auto;
    margin-right: auto;
  }

  .value:nth-of-type(1) {
    margin-right: 0px;
  }

  .value {
    margin-right: 0px;
    align-items: center;
  }

  #pricing .row {
    margin-top: 40px;
  }

  .footer__columns {
    justify-content: flex-start;
  }
  
  .footer__column {
    width: calc(100% / 3);
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer__copyright,
  .footer__socials {
    margin-top: 32px;
  }

  .footer__socials {
    margin-left: 0px;
  }
  .footer__social--link:first-child {
    margin-left: 0px;
  }
}

/*

@media (max-width: 640px)

*/

@media (max-width: 640px) {
  .section__title {
    line-height: 1.25;
  }

  .container {
    padding: 80px 0;
  }

  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }

  .header__email {
    flex-direction: column;
    height: auto;
  }

  .header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }

  .header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.05em;
  }

  .section__title {
    font-size: 30px;
  }

  #features .section__title,
  #pricing .section__title {
    font-size: 36px;
  }

  .feature__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .feature__title {
    letter-spacing: 0.025em;
    line-height: 1;
  }

  .feature__text {
    margin-left: 0px;
    margin-top: 16px;
  }

  .feature__para {
    margin-top: 4px;
    line-height: 2;
  }

  #steps .section__title {
    margin: 16px 0 0 0;
  }

  .steps__list {
    margin-top: 48px;
  }

  .btn {
    line-height: 1.5;
  }

  .plan__price {
    font-size: 36px;
  }

  .plan__bottom {
    padding: 2rem 1rem;
  }

  .testimonial__para {
    margin-bottom: 32px;
  }

  .testimonial__bottom {
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
  }

  .testimonial__profile {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__details {
    margin-left: 0;
    margin-top: 8px;
  }

  .testimonial__img {
    height: 64px;
    width: 64px;
  }

  .testimonial__buttons {
    margin-top: 32px;
  }

  .start__title {
    font-size: 24px;
  }

  .start__container {
    padding: 80px 0;
  }

  .start__buttons {
    flex-direction: column;
  }

  .start__button:nth-child(1) {
    margin-right: 32px;
  }

  .start__button {
    padding: 12px 24px;
    font-size: 14px;
  }

  .start__button:nth-child(2) {
    margin-top: 16px;
  }

  main {
    margin-bottom: 80px;
  }

  .footer__columns {
    justify-content: center;
  }

  .footer__column {
    width: auto;
    padding: 0 16px;
    text-align: center;
    align-items: center;
  }

  .footer__copyright {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
  }

}
